header{
    background-color:white;
    height: 70px;
    width: 100%;
    background-image: url('/images/logo.png');
    background-size: fill;
    background-position: 20px center;
    background-repeat: no-repeat;
    border-bottom: 1px;
    border-right-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    border-style: solid;
    border-color: #CCCCCC;
}